<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/logo.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li {% if page.sectionid=='get-started' %} class="active" {% endif %}><a href="{{ "/docs/home" | relative_url }}">Get Started</a></li>
                    <li {% if page.sectionid=='updates' %} class="active" {% endif %}><a href="{{ "/docs/updates" | relative_url }}">Updates</a></li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Leaderboards
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ "/docs/overview/" | relative_url }}">Overview</a></li>
                          <li class="divider"></li>
                          <li><a href="{{ "/docs/comparison/" | relative_url }}">Comparison</a></li>
                        </ul>
                    </li>
                    <li {% if page.sectionid=='news' %} class="active" {% endif %}><a href="{{ "/docs/news" | relative_url }}">News</a></li>
                    <li {% if page.sectionid=='team' %} class="active" {% endif %}><a href="{{ "/docs/team" | relative_url }}">Team</a></li>
                    <li>
                        <a href="{{ site.git_address }}">
                        Github
                        <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
